<form phx-submit="create">
<%= tag(:input, type: "text", name: "name", placeholder: "Name") %>
<%= tag(:input, type: "password", name: "password", placeholder: "Password") %>
<%= submit("Create") %>
</form>
