<%= form_tag(Routes.user_path(@socket, :sign_up)) do %>
<%= tag(:input, type: "text", name: "username", placeholder: "Username") %>
<%= tag(:input, type: "password", name: "password", placeholder: "Password") %>
<%= submit("Sign Up") %>
<% end %>

<span class="sign_up">Already have an account? <%= live_redirect("Sign In", to: Routes.live_path(@socket, GrasstubeWeb.SignInLive)) %></span>
