<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="theme-color" content="#000000"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<title>grasstube 2.5</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<%= if Guardian.Plug.current_token(@conn) do %>
			<meta name="guardian_token" content="<%= Guardian.Plug.current_token(@conn) %>">
		<% end %>
		<style>
			body {
				font-size: 1.25em;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			header {
				font-family: 'Google Sans', sans-serif;
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
				height: 2em;
				z-index: 99;
				transition: 0.1s opacity;
			}
			header > section > nav > span > a {
				margin: 4px;
				line-height: 2em;
			}
			main {
				flex: 1;
				min-height: 0;
				overflow: auto;
			}
			.alerts {
				text-align: center;
				width: 100%;
			}
			.alert {
				font-size: 1.25em;
			}

			.alert-danger {

			}
			
			@media (min-width: 768px) {

				body {
					font-size: 1em;
				}
				
			}
		</style>
	</head>
	<body id="body">
		<header>
			<section>
				<nav role="navigation">
					<span style="float: left"><%= link("grasstube", to: "/") %></span>
					<span style="float: right">
						<%= get_user_links(@conn) %>
					</span>
				</nav>
			</section>
		</header>
		<main role="main">
			<div class="alerts">
				<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
				<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
			</div>
			<%= render @view_module, @view_template, assigns %>
		</main>
	</body>
</html>