<div page="<%= @view_template %>">
	<header>
		<section>
			<nav role="navigation">
				<span style="float: left"><%= live_redirect("grasstube", to: Routes.live_path(@conn, GrasstubeWeb.RoomsLive)) %></span>
				<span style="float: right">
					<%= link("google drive", to: Routes.page_path(@conn, :gdrive), id: "userscript_google_drive") %>
					<%= get_user_links(@conn) %>
				</span>
			</nav>
		</section>
	</header>
	<main id="main" role="main">
		<%= @inner_content %>
	</main>
</div>
