<%= if Map.get(assigns, :hide_header, false) != true do %>
<header>
  <section>
    <nav role="navigation">
      <.link navigate={~p"/"}>Index</.link>
      <%= if @current_user do %>
        <.link navigate={~p"/u/#{@current_user.username}"}>{@current_user.name}</.link>
        <.link navigate={~p"/sign_out"}>Sign out</.link>
      <% else %>
        <.link navigate={~p"/sign_in"}>Sign in</.link>
        <.link navigate={~p"/sign_up"}>Sign up</.link>
      <% end %>
    </nav>
  </section>
</header>
<% end %>

<main id="main" class="container">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
