@import "grassplayer2";

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif, noto color emoji;

    // background: rgb(50, 50, 50);
    // color: black;
}

main {
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    padding-top: 32px;
    overflow: hidden;
    width: min(100%, 1000px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    transition:
        0.5s width,
        0.5s padding;

    > div {
        flex: 1;
        box-sizing: border-box;
        max-width: 1000px;
        padding: 1em;
        width: 100%;
        animation: fadein 0.5s;
    }
}

.IndexLive {
    @import "IndexLive";
}

@import "RoomLive";

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 0 16px 16px 16px;
    transition: 0.25s transform;

    > div {
        padding: 0;
        background: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 8px 8px;
        opacity: 1;
        transition:
            0.5s width,
            0.5s border-radius,
            0.5s transform,
            0.5s opacity;

        > * {
            white-space: nowrap;
            box-sizing: border-box;
            height: 32px;
            line-height: 32px;
            padding: 0 16px;
            text-decoration: none;
        }
    }

    > * {
        padding: 0 0.5em;
    }
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: start;
}

input {
    padding: 4px 8px;
    border: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

button,
input[type="submit"] {
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
        background: rgba(220, 220, 220, 1);
    }

    &:active {
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }

    &:disabled {
        cursor: not-allowed;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        background: rgba(220, 220, 220, 1);
    }
}

.btn-chk {
    border-radius: 4px;
    padding: 0.5em;
    user-select: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    height: 2em;
    display: flex;

    cursor: pointer;

    > span {
        font-size: 0.8em;
    }

    > input {
        display: none;
    }

    &:has(> input:checked) {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }

    &:hover {
        background: rgba(230, 230, 230, 1);
    }
}

.modal-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        border-radius: 8px;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .header {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        display: flex;

        :first-child {
            flex: 1;
        }

        .close {
            box-shadow: none;
            border-radius: 0;

            &:hover {
                background: rgba(255, 50, 50, 0.5);
                color: white;
            }

            &::after {
                font-family: "Material Symbols Rounded";
                content: "close";
                box-shadow: none;
            }
        }
    }
}
