@import "fonts";

@import "window";

@import "grassplayer";

@import "roomlist";

@import "room";
@import "chat";
@import "playlist";
@import "auth";
@import "polls";

@import "user";
@import "editroom";

@import "ready";

.icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: "FILL" 1;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

:root {
  --border-radius: 0.3em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

body {
  font-size: 1.25em;
  display: flex;
  flex-direction: column-reverse;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
}

button,
input,
select,
textarea,
.button {
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  /*line-height: 1.25em;*/
}

textarea {
  line-height: 2em;
}

h1,
h2,
input[type="submit"],
button,
select,
.button {
  font-family: "Google Sans", sans-serif;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 1pt rgba(255, 255, 255, 0.6);
}

.clickable {
  cursor: pointer;
}

button:disabled,
.button:disabled {
  cursor: default;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

button:focus,
.button:focus,
button,
.button {
  // box-shadow: inset 0 0 10px white;
}

.menu > button,
.menu > .button {
  // box-shadow: inset 0 0 10px white;
}

button:hover,
.button:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

button:not(:disabled):active,
.button:not(:disabled):active {
  // box-shadow: inset 0 0 10px white;
}

.hidden {
  display: none;
}

option {
  background-color: rgb(0, 0, 0);
}

.square {
  padding: 0;
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
}

a {
  color: rgba(255, 255, 255, 0.75);
}

a:focus {
  box-shadow: 0 0 0 1pt rgba(255, 255, 255, 0.6);
}

.thin_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0);
}

.thin_scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin_scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.thin_scrollbar::-webkit-scrollbar-track {
  background: none;
}

header {
  font-family: "Google Sans", sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 99;
  transition: 0.1s opacity;

  > section > nav > span > a {
    display: inline-block;
    margin: 0.25em;
    line-height: 1.5em;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
  min-height: 0;
  overflow: auto;
  position: relative;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  align-self: center;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
  }
}

.poll_modal {
  .window-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > .choices {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      > div {
        display: flex;
        gap: 0.5em;
        align-items: center;
      }
    }

    input,
    button {
      border-radius: 0.25em;
    }
  }
}

.alert {
  align-self: center;
  margin-bottom: 0.5em;
}

.alert:empty {
  display: none;
}

.alert:not(:empty) {
  display: flex;
}

.VideoLive {
  .users:hover {
    opacity: 1;
  }

  .users {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: default;
    padding: 0.5em;
  }
}
