.page_chat {
  width: 100%;
  height: 100%;
  display: flex;

  > .chat_container {
    flex: 1;
  }

  #chat_userlist, #chat_messages {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.chat_container {
  display: flex;
  flex-direction: column;

  > .top {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
}

#chat_messages, #chat_userlist {
  overflow-y: auto;
  padding: 0.5em;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0);
}

.chat_form {
  flex: 1;
  display: flex;
}

#chat_input {
  flex: 1;
  border-radius: 0.25em;
}

#chat_input_container {
  display: flex;
  width: 100%;
  pointer-events: visible;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;

  #chat_emotes {
    width: 2em;
    height: 2em;
    padding: 0;
  }
}

#chat_messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;

  > div {
    padding: 0 0.25em;

    > * {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.1em;
    }
  }

  .message_content {
    display: inline-block;
    padding: 0 0.25em;

    img {
      max-height: 6em;
    }
  }

  .flex {
    display: flex;
  }

  .flex.hidden {
    display: none;
  }

  hr {
    opacity: 40%;
    max-width: 100%;
    width: 20em;
  }
}

#chat_messages::-webkit-scrollbar {
  width: 6px;
}

#chat_messages::-webkit-scrollbar-track {
  background: none;
}

#chat_messages::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

#chat_input_container.hidden {
  display: none;
}
