.EditRoomLive {
  main {
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    > div {
      width: 1000px;
      max-width: calc(100% - 1em);
      margin-bottom: 1em;
    }
  }

  li > *:not(:last-child) {
    margin-right: 0.5em;
  }
}
