@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/static/GoogleSans.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/static/Roboto.woff2) format("woff2");
}
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(/static/MaterialSymbolsRounded.woff2) format("woff2");
}
