@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500");

.grassplayer .shade button {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.grassplayer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  font-family: "Roboto", sans-serif;

  button {
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
  }

  button:disabled,
  button:disabled:hover {
    background: none;
    color: rgba(255, 255, 255, 0.4);
    cursor: default;
  }

  button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .overlay_osd {
      pointer-events: none;
      position: absolute;
      margin: 0.5em;
      padding: 0.5em;
      border-radius: 0.25em;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 1em;
      text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);
      color: rgba(255, 255, 255, 0.7);
    }

    .overlay_osd.hidden {
      display: none;
    }

    .overlay_tmp {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }

  .overlay_hidden {
    cursor: none;

    .overlay_tmp {
      opacity: 0;
      pointer-events: none;
    }
  }

  video,
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .shade {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    padding-bottom: 0;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);

    .player_time {
      font-size: 0.75em;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.6);
    }

    .right-side {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    button {
      padding: 0;
      width: 1.5em;
      height: 100%;
      font-size: 1.75em;
    }

    button:hover {
      background: none;
    }

    .cc {
      font-size: 1.4em;
      vertical-align: middle;
    }

    .select_quality {
      height: 2em;
      margin-left: 1em;
      font-size: 0.75em;
      padding: 0 0.5em;
    }

    .volume_slider {
      margin: 0 0.5em;
      width: 5em;
      border: none;
      background: none;
      vertical-align: middle;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
    }

    .volume_slider::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0;
      border: none;
    }

    .volume_slider::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0;
      border: none;
    }

    .volume_slider::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0;
      border: none;
    }

    .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: rgba(255, 255, 255, 0.8);
      width: 4px;
      height: 12px;
      border-radius: 0;
      border: none;
      outline: none;
      cursor: pointer;
      transform: translateY(-50%);
    }

    .volume_slider::-ms-thumb {
      -webkit-appearance: none;
      background: rgba(255, 255, 255, 0.8);
      width: 4px;
      height: 12px;
      border-radius: 0;
      border: none;
      outline: none;
      cursor: pointer;
      transform: none;
    }

    .volume_slider::-moz-range-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: rgba(255, 255, 255, 0.8);
      width: 4px;
      height: 12px;
      border-radius: 0;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .shade,
  .ctxmenu {
    button {
      border: none;
      background: none;
      text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);
      border-radius: none;
    }

    button:focus,
    button:focus,
    .volume_slider:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  .seekbar.seekbar_controls {
    pointer-events: all;
  }

  .seekbar {
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 3em;
    cursor: pointer;
    transition: height 0.1s, bottom 0.1s;
    transform: translateY(50%);
    pointer-events: none;

    .seekbar_time {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.25em;
      padding: 0.25em;
      position: absolute;
      transform: translate(-50%, -80%);
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
    }

    .seekbar_preview {
      padding: 0.1em;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.25em;
      position: absolute;
      bottom: 2.5em;
      transform: translate(-50%, 20%);
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
      max-height: 6em;
      max-width: 11em;
      pointer-events: none;
    }

    .seekbar_dial {
      position: absolute;
      width: 2px;
      height: 2px;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
      border-radius: 12px;
      background: white;
      opacity: 0.5;
      pointer-events: none;
      z-index: 2;
      transition: width 0.1s, height 0.1s, margin-top 0.1s, opacity 0.1s,
        left 0.1s linear;
    }

    .seekbar_dial.seeking {
      transition: left 0s;
    }

    .seekbar_bar {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.2);
      transition: height 0.1s, margin-top 0.1s;

      > div {
        position: absolute;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        pointer-events: none;
        z-index: 0;
      }

      > .current {
        background: rgba(0, 70, 255, 0.6);
        z-index: 1;
      }
    }
  }

  .seekbar:hover {
    height: 16px;

    > .seekbar_time {
      transform: translate(-50%, -100%);
      opacity: 1;
    }

    > .seekbar_preview {
      transform: translate(-50%, 0);
      opacity: 0.9;
    }

    > .seekbar_bar {
      height: 8px;
    }

    > .seekbar_dial {
      width: 12px;
      height: 12px;
      opacity: 0.8;
    }
  }

  .seeking > div,
  .seeking {
    transition: width 0s, left 0s;
  }

  .ctxmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25em;
    background-color: rgba(0, 0, 0, 0.6);

    > div {
      padding: 0.25em;
    }

    > button {
      border-radius: 0;
      border: none;
      padding: 0.3em 0.7em;
      font-size: 0.9em;
      text-align: left;
    }

    > button:hover {
      background-color: rgba(100, 100, 100, 0.3);
    }

    > button:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .settings {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .stats,
  .settings {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 10pt;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    overflow: auto;
    max-width: 100%;
    max-height: calc(100% - 6em);
    position: absolute;

    > div > div {
      display: flex;
      gap: 0.25em;
    }
  }

  .settings {
    > div {
      display: flex;
      gap: 0.25em;
    }
  }
}

.mute_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;

  > span {
    text-align: center;
    flex: 1;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    pointer-events: none;
  }
}
