.NoVideoLive {
  #view_chat {
    height: 100%;
    flex-shrink: 0;
    display: flex;
  }

  #chat_container {
    flex: 1;
  }

  #chat_userlist {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .bottom {
    display: flex;

    > :first-child {
      flex: 1;
    }
  }
}
