html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

#container1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container2 {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

#maincontent {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.template {
    display: none;
}

#bottom:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}

#dragbar_h {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 3px;
    cursor: col-resize;
    z-index: 2;
}

#dragbar_v {
    background-color: rgba(255, 255, 255, 0.2);
    height: 3px;
    width: 100%;
    cursor: row-resize;
    position: absolute;
    z-index: 2;
}

#dragbar_userlist {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    float: top;
    height: 3px;
    cursor: row-resize;
}

#user_settings {
    display: inline-block;
    transition: opacity 0.1s;
}

#polls_list {
    width: 100%;
    margin-top: 0.5em;
}

.poll_item {
    margin-bottom: 0.5em;
    max-width: 100%;
    position: relative;
}

.poll_item-inner {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    max-width: 100%;
}

.poll_item-header {
    font-size: 1em;
}

.poll_item-body {
    padding: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
}

.poll_choice {
    margin-bottom: 0.5em;
    display: block;
    line-height: 1.5em;
}

.poll_item-title {
    margin: 0 0.5em;
    font-size: 1em;
    line-height: 2em;
    box-decoration-break: clone;
    word-wrap: break-word;
}

.poll_choice > span {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.5em;
    box-decoration-break: clone;
    word-wrap: break-word;
}

.poll_choice > button {
    float: left;
}

.poll_item-delete {
    float: right;
    width: 2em;
    height: 2em;
    font-weight: bold;
    border: none;
}

#bottom {
    font-size: 0.8em;
    margin-top: 0.5em;
}

.isactive, .isactive > a {
    background-color: rgb(60, 60, 60);
    color: rgb(220, 220, 220);
}

#container_chat {
    width: 100%;
}

.user_name {
    color: rgb(200, 200, 200);
}

.mod {
    text-decoration: underline;
    text-decoration-color: rgb(150, 150, 150);
}

.guest {
    color: rgb(150, 150, 150);
}

.message_timestamp {
    font-size: 0.75em;
    line-height: 14px;
}

.message_content > * > img, .message_content > img {
    max-height: 6em;
}

.message_user {
    font-weight: 500;
}

#userlist.hidden, #seekbar.hidden {
    display: none;
}

#chat_div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

#header {
    border: none;
    background: none;
    width: 100%;
    vertical-align: middle;
    padding: 4px;
    height: 2em;
}

.chat_main_area {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    flex: 1;
    min-height: 0;
}

.top {
    display: flex;
    min-height: 0;
    flex: 1;
}

#userlist {
    background: none;
    padding: 0.5em;
    overflow-y: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    word-wrap: break-word;
    max-width: 8em;
}

#messages_outer {
    flex: 1;
    overflow-y: auto;
}

#messages {
    padding: 0.5em;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.7);
    background: none;
}

#input_area {
    font-size: 1.25em;
    display: flex;
}

#chat_input {
    z-index: 1;
    flex: 1;
    font-size: 1em;
    min-width: 0;
}

@media (min-width: 768px) {

    #input_area {
        font-size: 1em;
    }
    
}

#btn_show_emotes {
    width: 2em;
    height: 2em;
}

hr {
    margin-bottom: 0.5em;
}

.hidden {
    display: none;
}

.ff-container.ff-loading-icon:before {
    background: none;
}

.ff-container.ff-inactive .ff-image {
    opacity: 1;
    transition: none;
}

.ff-container.ff-inactive .ff-canvas.ff-canvas-ready {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.freeze > div > .message_content > .ff-container.ff-inactive .ff-canvas.ff-canvas-ready {
    opacity: 1;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
}

.hosted_videos_outer {
    overflow: auto;
    margin-top: 0.5em;
    display: flex;
}

.hosted_videos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
