.PlaylistLive {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);

  .playlist_header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.25em 0.5em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    > div {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  #playlist_container {
    padding: 0.5em 0;

    > div {
      padding: 0 0.5em;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5em;
    }

    > div:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    > div.selected {
      background-color: rgb(60, 60, 60);
    }

    > div.dragging {
      background-color: rgb(90, 90, 90);
    }
  }

  .playlist_drag {
    touch-action: none;
  }

  .playlist_drag,
  .playlist_drag:hover,
  .playlist_drag:active,
  .playlist_drag:focus {
    cursor: grab;
    background: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.7);
  }
}

#playlist_tab1,
#playlist_tab2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5em;
}

#playlist_tab1 {
  > div:first-child {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;

    > input {
      flex: 1;
    }
  }

  .icon {
    padding: 0.25em;
  }

  .hosted_videos_outer {
    overflow: auto;
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: column;
    }

    > .collapsed {
      .table_outer {
        height: 0;
        overflow: hidden;
      }

      .directory {
        > span::before {
          content: "expand_more";
        }
      }
    }

    .table_outer {
      padding: 0 0.5em;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        display: flex;
      }

      td:not(:last-child) {
        padding-right: 0.5em;
      }

      td:first-child {
        flex: 1;
        word-wrap: anywhere;
      }

      td:nth-child(2),
      th:nth-child(2) {
        text-align: center;
      }

      tr:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .directory {
      width: 100%;
      display: flex;
      position: sticky;
      top: -0.1px;
      padding: 0.25em 0.5em;
      transition: 0.2s background-color;

      > span {
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 0.25em;
      }

      > span::before {
        font-family: "Material Symbols Rounded";
        font-weight: normal;
        font-style: normal;
        font-size: 1em;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-variation-settings: "FILL" 1;
      }

      > span::before {
        content: "expand_less";
      }
    }

    .directory.is-pinned {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.yt_list_outer {
  overflow-y: auto;

  #playlist_yt_list {
    display: flex;
    flex-direction: column;
  }

  .yt-video {
    display: flex;

    img {
      border-radius: var(--border-radius);
    }

    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5em;
    }

    button {
      border-radius: var(--border-radius);
    }
  }
}
