.RoomsLive {
  .outer {
    padding: auto;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-size: 1.25em;
  }

  .room {
    margin-bottom: 0.5em;
  }

  .btn_room {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 0.25em 0.75em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    width: 12em;
    max-width: 100%;
    font-size: 1em;
    display: flex;
    gap: 0.5em;
    font-size: 0.9em;

    > .room_name {
      flex: 1;
    }

    > .user_count::after {
      content: "🙍";
    }
  }

  .btn_room.password {
    > span:first-child::before {
      content: "🔒 ";
    }
  }

  .footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  footer,
  .footer {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 0.9em;
    text-align: center;
  }

  footer a,
  .footer a {
    color: rgba(255, 255, 255, 0.6);
  }
}
