html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: black;
	color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
}

#container1 {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#container2 {
	position: relative;
	height: 100%;
	overflow-y: scroll;
}

#maincontent {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 80%;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#container_video {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

#container_chat {
	height: 100%;
	width: 300px;
	flex-shrink: 0;
	position:relative;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.template {
	display: none;
}

.message_content img {
	max-height: 100px;
}

.message_user {
	font-weight: 500;
}

#bottom {
	margin-top: 4px;
}

#bottom:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
	width: 50%;
}

#dragbar_h {
	background-color: rgba(255, 255, 255, 0.2);
	height: 100%;
	position: absolute;
	width: 3px;
	cursor: col-resize;
	z-index: 2;
}

#dragbar_v {
	background-color: rgba(255, 255, 255, 0.2);
	height: 3px;
	width: 100%;
	cursor: row-resize;
	position: absolute;
	z-index: 2;
}

#dragbar_userlist {
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	float: top;
	height: 3px;
	cursor: row-resize;
}

#user_settings {
	display: inline-block;
	transition: opacity 0.1s;
}

#polls_list {
	width: 100%;
}
.poll_item {
	padding: 8px 0 0 6px;
	max-width: 100%;
	position: relative;
}
.poll_item-inner {
	display: inline-block;
	padding: 8px;
	border: 1px solid rgba(255, 255, 255, 0.4);
}
.poll_choice {
	margin-top: 2px;
	display: block;
	line-height: 21px;
	height: 21px;
	position: relative;
}

.poll_item_title {
	margin-right: 4px;
}

.poll_choice > button {
	width: 21px;
	padding: 0;
	margin-right: 2px;
}

.poll-item-remove {
	float: right;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	line-height: 17px;
}

.poll-item-remove:hover,
.poll-item-remove:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.playlist_outer {
	display: inline-block;
	margin-top: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 13px;
}

.playlist_header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 4px;
	text-align: left;
}

#playlist_header_time {
	float: right;
}

.playlist_item {
	padding: 0 4px 0 4px;
}

.playlist_item_duration {
	margin-left: 8px;
}

.playlist_set {
	margin-left: 4px;
}

.playlist_remove {
	margin-right: 4px;
}

#playlist_container {
	padding: 4px 0 4px;
}

.isactive, .isactive > a {
	background-color: rgb(60, 60, 60);
	color: rgb(220, 220, 220);
}
.user_name {
	color: rgb(200, 200, 200);
}

.mod {
	text-decoration: underline;
	text-decoration-color: rgb(150, 150, 150);
}

.guest {
	color: rgb(150, 150, 150);
}

.chat_header {
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	vertical-align: middle;
	font-size: 1em;
	line-height: 2em;
	height: 2em;
	padding-left: 2px;
	padding-right: 2px;
	display: inline-block;
}

.chat_main_area {
	position: relative;
	width: 100%;
	height: calc(100% - 2em);
}

#userlist {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);	
	padding: 4px;
	width: 120px;
	left: 0;
	top: 0;
	overflow-y: auto;
	text-align: left;
	height: unset;
	max-height: 150px;
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#messages {
	width: 100%;
	height: calc(100% - 2em);
	overflow-y: auto;
	padding: 4px;
	word-wrap: break-word;
	color: rgba(255, 255, 255, 0.7);
	background: black;
}

#input_area {
	border: none;
	background: none;
	width: 100%;
	vertical-align: middle;
	font-size: 1em;
	line-height: 2em;
	height: 2em;
}

#chat_input {
	width: calc(100% - 2em);
	font-size: 1em;
	float: left;
	height: 2em;
}

#btn_show_emotes {
	float: right;
	width: 2em;
	height: 2em;
	padding: auto;
}

#btn_userlist_toggle {
	margin-top: 1px;
}

.message_timestamp {
	font-size: 10px;
	line-height: 14px;
}

.message_content img {
	max-height: 100px;
}

.message_user {
	font-weight: 500;
}

#userlist.hidden, #seekbar.hidden {
	display: none;
}

#player {
	width: 100%;
	height: 100%;
}

@import url("video.css");
