@import "danmaku";

.RoomLive {
  overflow: hidden;

  > main {
    gap: 0;
    display: block;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  #maincontent {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .VideoLive,
  .ChatLive,
  #chat_danmaku {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
  }

  .VideoLive {
    height: 100%;
  }

  .ChatLive {
    z-index: 1;
    margin-bottom: calc(3em + 8px);
    height: calc(100% - 3em - 8px);
    overflow: hidden;

    .top {
      flex-direction: column;
    }
  }

  #chat_danmaku {
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .ChatLive.hidden {
    pointer-events: none;

    #chat_messages {
      opacity: 0.3;
    }

    #chat_input_container {
      pointer-events: none;
      opacity: 0;
    }

    #chat_userlist {
      display: none;
    }
  }

  #bottom {
    display: flex;
    justify-content: space-between;
  }

  #dragbar_v {
    position: absolute;
    height: 0.25em;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: row-resize;
    z-index: 2;
    transform: translateY(-50%);
    transition: 0.1s height, 0.1s background-color;
  }

  #dragbar_v:hover {
    background-color: rgba(255, 255, 255, 0.1);
    height: 1em;
  }

  #dragbar_v.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.RoomLive ~ header.hide {
  display: none;
}
