.RoomLive {
    max-width: 100vw;
    width: 100vw;
    padding: 0;

    >.main {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        >.player {
            z-index: 0;
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        @keyframes hide {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            50% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        >.left,
        >.right {
            z-index: 1;
            position: absolute;
            top: 0;
            height: calc(100% - 96px);
            padding: 16px;
            transition:
                0.25s transform,
                0.25s opacity;
            animation: hide 2s;

            &:not(:hover) {
                opacity: 0;
                transition-delay: 0.5s;
            }

            &:hover {
                opacity: 1;
                transform: translateX(0);
            }
        }

        >.left {
            left: 0;
            padding-right: 32px;
            transform: translateX(calc(-100% + 32px));

            .presence {
                color: rgba(255, 255, 255, 0.8);
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
            }
        }

        >.right {
            right: 0;
            padding-right: 32px;
            transform: translateX(calc(100% - 32px));
        }
    }

    .interactions {
        position: relative;
        align-self: stretch;
        background: rgba(0, 0, 0, 0.1);
        padding: 8px;
        display: flex;
        height: 48px;
        align-items: center;
        gap: 8px;

        >* {
            display: flex;
            gap: 8px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: relative;
        padding: 0 8px;
        gap: 8px;
    }

    .playlist {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        table {
            border-spacing: 0 8px;
            border-collapse: separate;
            place-items: center;

            &:not(.visible) {
                display: none;
            }
        }

        td {
            white-space: nowrap;
            width: 1px;
            padding: 8px;

            &:not(:first-child) {
                padding-left: 0;
            }

            >div {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }

        tr {
            cursor: grab;
            user-select: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            border-radius: 8px;

            &.current {
                background: rgb(220, 220, 220);
            }
        }

        .title {
            width: auto;
        }

        .inserted_at {
            font-size: 12px;
        }

        .close,
        .set {
            padding: 4px;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            font-family: "Material Symbols Rounded";
        }

        .close::after {
            content: "close";
        }

        .set::after {
            content: "play_arrow";
        }
    }
}

nav:has(~ main > .RoomLive) {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% + 16px));

    &:not(:hover) {
        transition-delay: 1s;

        >div {
            transition-delay: 1s;
        }
    }

    >div {
        background: rgba(255, 255, 255, 0.5);
        opacity: 0;
    }

    &:hover {
        transform: translateY(0);

        >div {
            opacity: 1;
        }
    }
}

main:has(.RoomLive) {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

html:has(.RoomLive) {
    scrollbar-width: none;
}

*:has(* #chk_show_playlist_form:checked) {
    #playlist_form {
        display: flex;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(32px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-32px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-32px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#playlist_form {
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    max-height: 100%;
    overflow: hidden;
    animation: slide-up 0.2s;

    >div {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 8px;
        max-height: 100%;
        overflow: hidden;
    }

    .top {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        .close {
            font-family: "Material Symbols Rounded";
            border-radius: 100%;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            width: 1.5em;
            height: 1.5em;

            &::after {
                content: "close";
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;

        >* {
            display: block;
        }
    }

    .list {
        overflow: scroll;
        word-break: break-all;
        white-space: wrap;
        font-size: 0.8em;
        line-height: 1em;

        .refresh,
        .add {
            font-family: "Material Symbols Rounded";
            border-radius: 100%;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            margin: -0.25em;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .refresh::after {
            content: "refresh";
        }

        .add::after {
            content: "add";
        }

        .file {
            padding: 0.5em;
            display: flex;
            border-radius: 4px;
            gap: 0.5em;
        }

        .header {
            padding: 0.5em;
            display: flex;
            cursor: pointer;
            gap: 0.5em;
        }

        .folder {
            background: rgba(255, 255, 255, 0.25);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 4px;

            >.body {
                display: none;
                flex-direction: column;
                padding-left: 1em;
                gap: 0.25em;
            }

            &.uncollapsed {
                >.body {
                    display: flex;
                }
            }
        }
    }
}

#polls-form {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px;
    overflow: hidden;
    animation: slide-down 0.2s;

    >div {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 8px;
        overflow: hidden;
    }

    .close {
        padding: 4px;
        width: 24px;
        height: 24px;

        &::after {
            font-family: "Material Symbols Rounded";
            content: "close";
        }
    }

    form {
        >div {
            display: flex;
            gap: 0.5em;
        }
    }
}

.polls {
    animation: slide-right 0.2s;
    display: none;
    flex-direction: column;
    gap: 0.5em;
    width: 200px;
    padding: 8px 0;
}

*:has(* #chk_create_poll:checked) {
    #polls-form {
        display: flex;
    }
}

*:has(* #chk_show_polls:checked) {
    .polls {
        display: flex;
    }
}

@import "PollComponent";

.RoomLive .ChatLive {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;

    >div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-bottom: 64px;

        &:has(input.visible) {
            .messages {
                pointer-events: all;
            }

            .message {
                color: rgba(255, 255, 255, 0.7);
                text-shadow: 0 0 3px rgba(0, 0, 0, 1);

                img {
                    opacity: 1;
                }
            }

            .message:not(.visible) {
                animation: slide-right 0.2s;
            }

            .emotes {
                padding-bottom: 96px;
            }
        }

        &:has(input:not(.visible)) {
            .message:not(.visible) {
                display: none;
            }

            .time {
                display: none;
            }
        }
    }

    .messages {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        flex: 1;
        overflow-y: scroll;
        padding: 8px;

        @keyframes message {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        .message {
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            pointer-events: all;
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            gap: 0.5em;

            &.visible {
                animation: message 0.2s;
            }

            img {
                opacity: 0.5;
                width: 128px;
                max-height: 128px;
                object-fit: contain;
            }

            .time {
                font-size: 0.6em;
            }
        }

        @keyframes flyleft {
            from {
                right: 0%;
                transform: translateX(100%);
            }

            to {
                right: 100%;
                transform: translateX(0%);
            }
        }

        .bullet {
            color: rgba(255, 255, 255, 0.5);
            font-size: 2em;
            font-weight: bold;
            right: 100%;
            transform: translateX(0%);
            position: absolute;
            animation: flyleft 5s linear;
            white-space: nowrap;
            color: white;
            opacity: 0.8;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);

            right: 0%;
            transform: translateX(100%);

            img {
                width: 128px;
                height: 128px;
                object-fit: contain;
            }
        }
    }

    .bottom {
        display: flex;

        input {
            flex: 1;
            pointer-events: all;
            padding: 8px;
            width: 100%;
            height: 32px;
            border: none;
            box-shadow:
                inset 0 0 3px rgba(255, 255, 255, 0.3),
                0 0 5px rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.1);
            color: rgba(255, 255, 255, 0.8);

            &.visible {
                animation: slide-up 0.2s;
            }

            &:not(.visible) {
                display: none;
            }
        }
    }

    .emotes {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        align-items: end;
        justify-content: center;

        &:not(.visible) {
            display: none;
        }

        >div {
            cursor: pointer;
            pointer-events: all;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            padding: 8px;
            display: flex;
            flex-wrap: wrap;

            justify-content: center;
            align-items: start;
            align-content: start;
            overflow: scroll;
            max-width: 100%;
            width: 496px;
            height: 496px;
            animation: slide-up 0.2s;
        }

        .emote,
        img {
            width: 96px;
            height: 96px;
            object-fit: contain;
        }

        .emote {
            position: relative;

            >span {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            &:not(:hover)>span {
                display: none;
            }

            &:hover>span {
                position: absolute;
                bottom: 0;
                padding: 4px;
                background: rgba(255, 255, 255, 0.5);
                word-break: break-all;
                backdrop-filter: blur(5px);
                border-radius: 8px;
                animation: slide-up 0.2s;
            }
        }
    }

}