.SignInLive,
.SignUpLive,
.CreateRoomLive {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    > * {
      display: block;
    }

    > input {
      display: block;
      padding: 0.25em 0.75em;
      width: 100%;
      border-radius: 1em;
    }

    > button {
      padding: 0.25em 0.75em;
      font-size: 1em;
      border-radius: 1em;
      cursor: pointer;
    }
  }

  .alerts {
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
  }

  .alert {
    font-size: 0.75em;
  }
}
