.SignInLive,
.SignUpLive,
.CreateRoomLive {
  main {
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
}

.UserLive {
  .emotes {
    display: flex;
    flex-direction: column;

    img {
      max-width: 20em;
      max-height: 20em;
    }

    > div {
      display: flex;
      align-items: flex-end;
      gap: 0.5em;
    }
  }
}
