.VideoOnlyLive {
  ~ header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
  }

  ~ header:hover {
    opacity: 1;
  }
}

.VideoOnlyLive .VideoLive {
  width: 100%;
  height: 100%;

  .grassplayer {
    .settings,
    .stats {
      margin-top: 3em;
    }
  }
}
