.material-icons,
.window .material-icons,
.modal .material-icons {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-variation-settings: "FILL" 1;
}

.window-top {
  button {
    border-radius: var(--border-radius);
    height: 1.7em;
  }

  .square {
    width: 1.7em;
  }
}

.window,
.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius);
  animation: fadein3 0.1s;
}

.window {
  position: absolute;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;

  .window-close {
    padding: 0;
    width: 1.5em;
    height: 1.5em;
  }
}

.modal {
  margin: 0.5em;
  max-width: calc(100% - 1em);
  max-height: calc(100% - 1em);
  z-index: 101;
}

.modal-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: fadein 0.1s;
}

.modal-back {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

.window-top {
  display: flex;
  align-items: center;
}

.window-header {
  font-size: 1em;
  flex: 1;
}

.window-tab-button {
  height: 100%;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(220, 220, 220, 0.5);
}

.window-tab-selected {
  color: rgba(255, 255, 255, 0.8);
}

.window-title {
  user-select: none;
  margin: 0 0.5em;
  line-height: 1.5em;
  box-decoration-break: clone;
}

.window-content {
  padding: 0.5em;
  max-width: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .row {
    display: flex;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein2 {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadein3 {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}
