<div class="<%= page_name(@socket) %>">

<h1><%= @room %></h1>

<form phx-submit="auth">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Enter">
</form>

</div>
