<div style="display: none" id="room" data-room="<%= @room %>"></div>
<div id="chat_div">
	<div id="header">
		<button id="btn_userlist_toggle" class="square">👨‍👦</button>
		<button id="btn_chat_settings" class="square">⚙</button>
		<span id="user_count">disconnected</span>
	</div>
	<div class="chat_main_area">
		<div class="top">
			<div id="userlist"></div>
			<div id="messages_outer">
				<div id="messages"></div>
			</div>
		</div>
		<div class="bottom">
			<div id="input_area">
				<input id="chat_input" type="text"/>
				<button id="btn_show_emotes" class="square">🙂</button>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/chat.css">
<script src="/js/chat.js"></script>
