<div id="chat_container">
  <div id="chat_userlist"></div>
  <div class="right">
    <div id="chat_messages"></div>
    <div id="chat_input_container">
      <input id="chat_input">
      <button id="chat_emotes" class="square">🙂</button>
    </div>
  </div>
</div>

<link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/chat.css") %>"/>
<script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/chat.js") %>"></script>
