<div class="chat_container" id="chat_container" phx-hook="chat">

<meta name="chat_room" content={@room}>

<div id="chat_emotes" phx-update="ignore" style="display: none">
  <%= for %{emote: emote, id: id} <- @emotes do %>
  <img src={Routes.user_path(@socket, :emote, id)} alt={emote} title={emote}>
  <% end %>
</div>

<div id="chat_input_container" phx-update="ignore">
  <input id="chat_input">
  <button id="chat_btn_emotes" class="square">🙂</button>
</div>

</div>
