<%= csrf_meta_tag() %>
<%= live_render(@conn, GrasstubeWeb.RoomsLive) %>
<%= if @can_make_room do link("create a room", to: Routes.user_path(@conn, :create_room_page)) end %>

<footer>
	<a href="https://github.com/wwww-wwww/grasstube">GitHub</a>
</footer>

<link rel="stylesheet" type="text/css" href="/css/index.css">
<script src="/js/index.js"></script>
