<script src="/includes/subtitles-octopus.js"></script>
<div style="display: none" id="room" data-room="<%= @room %>"></div>

<div id="container1">
	<div id="container2">
		<div id="dragbar_v" style="opacity: 0"></div>
		<div id="maincontent">
			<div id="dragbar_h" style="opacity: 0"></div>
			<div id="container_chat">
				<div id="chat_div">
					<div class="chat_header">
						<button id="btn_userlist_toggle" class="square">👨‍👦</button>
						<button id="btn_chat_settings" class="square">⚙</button>
						<span id="user_count">disconnected</span>
					</div>

					<div class="chat_main_area">
						<div id="messages_outer">
							<div id="messages"></div>
						</div>
						<div id="input_area">
							<input id="chat_input" type="text"/>
							<button id="btn_show_emotes" class="square">🙂</button>
						</div>
						<div id="userlist"></div>
					</div>
				</div>
			</div>
			<div id="container_video">
				<div id="player"></div>
			</div>
		</div>
		<div id="bottom">
			<div class="col">
				<button id="btn_user_settings">settings</button>
				<%= link("chat only", to: Routes.page_path(@conn, :chat, @room), class: "button") %>
				
				<%= link("video only", to: Routes.page_path(@conn, :video, @room), class: "button") %>
				<button id="btn_create_poll" class="hidden">create poll</button>
				<div id="polls_list"></div>
			</div>
			<div class="col" style="text-align: right">
				<%= render @view_module, "playlist.html", assigns %>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/room.css">
<script src="/js/room.js"></script>
