<script src="<%= Routes.static_path(@socket, "/includes/subtitles-octopus.js") %>"></script>

<meta name="controls" content="<%= @controls %>">

<div id="player" phx-hook="video" phx-update="ignore"></div>
