<script src="/includes/subtitles-octopus.js"></script>

<style>
	#player, #player_overlay {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	header {
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
		opacity: 0;
	}

	header:hover {
		opacity: 1;
	}
	
	main {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
	}
</style>

<div id="player"></div>

<link rel="stylesheet" type="text/css" href="/css/video.css">
<script src="/js/video.js"></script>
